#设备信息
vendor_id       :0xA108
product_id      :0x2240
device_bcd      :0090
serial_lab      :Ucamera001
product_lab     :Ingenic HD Web Camera
manufact_lab    :Ingenic Semiconductor Co.,Ltd
adb_en          :1

#isp sensor 编码等参数设置
sensor_name     :gc2053
i2c_addr        :0x37
default_boot    :0
sensor_fps      :25
sensor_width    :1920
sensor_height   :1080
hvflip          :0
rcmode          :1
bitrate         :4000
qp_value        :60
qp_reform       :0
gop             :25
bcsh_en         :0
bcsh_low        :15
bcsh_high       :235
ivdc_mode       :0
ivdc_jpegv      :0

#uvc vc 设置(CT/PU/EU)
ct_controls :0x2a,0x02,0x02
pu_controls :0x1f,0x05
eu_en       :1
eu_num      :1
eu_guid     :0x38,0xAB,0xE4,0x62,0x6E,0x76,0x54,0x4B,0xA8,0x45,0xBA,0x59,0x3A,0xB3,0xC0,0xA5
eu_controls :0x00,0x10,0x0

#音频设置(amic dmic spk)
amic_en         :0
dmic_en         :0
amic_name       :Ingenic Mic Camera
amic_samplerate :16000
amic_bitwidth   :16
amic_soundmode  :1
#单位为db(spk同理)
amic_volume     :0

spk_en         :0
spk_name       :Ingenic SPK Camera
spk_samplerate :48000
spk_bitwidth   :16
spk_soundmode  :1
spk_volume     :0

#Facezoom参数设置
facezoom_en    :0
facezoom_mode  :2

#AF自动对焦参数设置
af_on_off      :0
motor_pixel    :400
motor_step     :25
motor_sleep    :80000
motor_step_max :600
motor_step_min :300
focus_trigger_value  :15

#视频设置
video_name      :Ingenic HD Web Camera
led_en          :1
led_gpio        :0
led_level       :1
#(mc + 1) * mps 代表最大带宽，mps_num:支持的带宽个数,最大设置为11，mps_list:支持的带宽，必须从小到大排列
mc              :2
mps             :1024
mps_num         :11
mps_list        :192/384/512/640/800/944/1280/1600/1984/2688/3072
stillcap_en     :1
h264_en         :3
h265_en         :0
mjpeg_en        :1
nv12_en         :0
yuyv_en         :2
winhello_en     :0
#fps_num:支持的帧率个数，fps_list:支持的帧率,必须为整数，必须从大到小排列
fps_num         :6
fps_list	:25/20/15/10/7/5
nframes         :5
{1920, 1080}
{1280, 720}
{800,  600}
{640,  480}
{640,  360}
